# Python Quiz 1, for fun!

## Write down (and execute) brief python statements(or functions) to do following:

Create a list called "list1" of all the integers from 0 to 21.

Create a list called "single" with a single element "0' in it.

Change the value of the third element in list1 to 52.

Detemine the number of elements in list1.

Reverse the entries in list1 and assign the resulting list to a list named "list2".

Create a 3-tuple called  tuple3 with values 3,4,5. Unpack the values in tuple3 to x,y,and z in one line.

Create dictionary called "rating_dict" to convert number rating below to english:

>    1 : best, 2: better, 3: OK, 4 : worse , 5:worst
    
Print out a list of number plus english  rating on each line.

Create a list called "list_odd" of all the odd integers between 0 to 50.

For string:
```
DNA = 'AGATGAAGCCCCACTGA'
```
Write statement to replace 'T' with 'U' everywhere.

In [ ]:
For DNA string above, change all letters to lower case.

For string: 
```
message = 'Programming is a lot of fun, especially in python!'
```
Print out the 3rd through 10th letters (inclusive), using slicing