# Python Quiz 2, for fun !

## Write down (and execute) brief python statements(or functions) to do following:

Write a for loop to print out the days of the week that start with 'T' or 'S' from list given below. 
``` 
     days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
```

In [1]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for day in days:
    check_letter = day[0].lower() 
    if check_letter == 't' or check_letter == 's':
        print(day)

Tuesday
Thursday
Saturday
Sunday

Create an array called "n_array" of 20 numbers all equal to 2.0 .
  >  Hint: Use np.ones (look it up on the internet or with help(np.ones))
  
  >  Do not forget to import numpy

In [2]:
import numpy as np
n_array = 2* np.ones(20)
print(n_array)

[2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.]

Write out result of following python statements:

```
       f = lambda x : x**2 + 2
       result = [ f(x) for x in range(5)]
       print(result)
```

In [3]:
f = lambda x : x**2 + 2
result = [ f(x) for x in range(5)]
print(result)

[2, 3, 6, 11, 18]

Create an array "x" of 100 points equally spaced between -5 and 5. 

Hint: Use numpy linspace

In [6]:
np.linspace(-5,5,101)

array([-5. , -4.9, -4.8, -4.7, -4.6, -4.5, -4.4, -4.3, -4.2, -4.1, -4. ,
       -3.9, -3.8, -3.7, -3.6, -3.5, -3.4, -3.3, -3.2, -3.1, -3. , -2.9,
       -2.8, -2.7, -2.6, -2.5, -2.4, -2.3, -2.2, -2.1, -2. , -1.9, -1.8,
       -1.7, -1.6, -1.5, -1.4, -1.3, -1.2, -1.1, -1. , -0.9, -0.8, -0.7,
       -0.6, -0.5, -0.4, -0.3, -0.2, -0.1,  0. ,  0.1,  0.2,  0.3,  0.4,
        0.5,  0.6,  0.7,  0.8,  0.9,  1. ,  1.1,  1.2,  1.3,  1.4,  1.5,
        1.6,  1.7,  1.8,  1.9,  2. ,  2.1,  2.2,  2.3,  2.4,  2.5,  2.6,
        2.7,  2.8,  2.9,  3. ,  3.1,  3.2,  3.3,  3.4,  3.5,  3.6,  3.7,
        3.8,  3.9,  4. ,  4.1,  4.2,  4.3,  4.4,  4.5,  4.6,  4.7,  4.8,
        4.9,  5. ])

Create a function called "minimum' which returns the minimum of two numbers ( a and b). 
     Do not use min function.

In [9]:
def minimum(a,b):
    if a < b:
        return a
    else:
        return b

minimum(4,2.25)

2.25

Create a function called 'list_min' which returns the minimum value in a list of numbers (of any size). 
     Do not use min function.

In [10]:
def list_min(list1):
    return min(list1)

list_min([3,2,5,6.7,8,-6])

-6

 Write a function called last_element. This function takes one parameter (a list)
 and returns the last value in the list. It should return None if the list is empty.
 
 Example Output:
 ```
 > last_element([1,2,3]) : 3
 > last_element([])  : None 
 ```

In [16]:
def last_element(list1):
    if len(list1) ==0:
        return None
    else:
        return list1[-1]

print(last_element([2,4,5,'apple']))
print(last_element([]))

apple
None

Write a function called number_compare. This function takes in two parameters (both numbers).

> If the first parameter is greater than the second, this function returns "First is Greater".

> If the second parameter is greater than the first, this function returns "Second is Greater"

> Else the function returns "Numbers are Equal".  

Example output:
```
 number_compare(1,1) :  'Numbers are equal'
 number_compare(1,0) :  'First is greater'
 number_compare(2,4) :  'Second is greater'  
```

In [ ]:
def number_compare(a,b):
    if a < b:
        message = 'Second is greater'
    elif a > b:
        message = 'First is greater'
    else:
        message = 'Numbers are equal'
    return message