# Python Quiz 1 solutions

## Write down (and execute) brief python statements(or functions) to do following:

Create a list called "list1" of all the integers from 0 to 21.

In [ ]:
list1 = list(range(0,22))
print(list1)

Create a list called "single" with a single element "0' in it.

In [ ]:
single = [0]
print(single)

Change the value of the third element in list1 to 52.

In [ ]:
list1[2] = 52
print(list1)

Detemine the number of elements in list1.

In [ ]:
len(list1)

Reverse the entries in list1 and assign the resulting list to a list named "list2".

In [ ]:
list2 = list1[::-1]
print(list2)

Create a 3-tuple called  tuple3 with values 3,4,5. Unpack the values in tuple3 to x,y,and z in one line.

In [ ]:
tuple3 = (3,4,5)
x,y,z = tuple3
print(x,y,z)

Create dictionary called "rating_dict" to convert number rating below to english:

>    1 : 'best', 2: 'better', 3: 'OK', 4 : 'worse' , 5: 'worst'
    
Print out a list of number plus English  rating on each line.

In [ ]:
rating_dict = { 1 : 'best', 2: 'better', 3: 'OK', 4 : 'worse' , 5: 'worst'}
rating_dict[1]
for key, value in rating_dict.items():
    print( key, value)

Create a list called "list_odd" of all the odd integers between 0 to 50.

In [ ]:
# Solution 1 using range
list_odd = list( range(1,50,2))

# Solution 2 using list comprehension
#list_odd = [x for x in range(0,51) if x%2 != 0]
print(list_odd)

For string:
```
DNA = 'AGATGAAGCCCCACTGA'
```
Write statement to replace 'T' with 'U' everywhere.

In [ ]:
DNA = 'AGATGAAGCCCCACTGA'
DNA.replace('T','U')   # Note: this statement does not change original string (DNA)

For DNA string above, change all letters to lower case.

In [ ]:
DNA = 'AGATGAAGCCCCACTGA'
DNA.lower()

For string: 
```
message = 'Programming is a lot of fun, especially in python!'
```
Print out the 3rd through 10th letters (inclusive), using slicing

In [ ]:
message = 'Programming is a lot of fun, especially in python!'
print(message[2:10])  # Note the index values